APP_ENV=

DEV_BASE_URL=
QA_BASE_URL=
PROD_BASE_URL=

BASE_URL=

TIMEZONE=

TEST_USER_EMAIL=
TEST_USER_PASSWORD=

PSYCHOLOGIST_NAME=
PLAN_NAME=
CONSULTATION_TYPE=
SESSION_OFFSET_DAYS=
SCHEDULE_SEARCH_MAX_DAYS=

DISCOUNT_CODE=
COMPLETE_PAYMENT=
APPLY_DISCOUNT=

CAPTURE_TOTAL_PAID=
REQUIRE_TOTAL_PAID=

PAYMENT_CARD_NUMBER=
PAYMENT_CARD_EXP_MONTH=
PAYMENT_CARD_EXP_YEAR=
PAYMENT_CARD_CVC=

MAIL_PROVIDER=
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAILTRAP_FROM=
MAILTRAP_TO=

COUNTRY_RANDOM_ENABLED=
COUNTRY_DEFAULT=